<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
    tools:ignore="SelectedPhotoAccess" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application
    android:name=".LayoutEditor"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="false"
    android:theme="@style/AppTheme">

    <activity
      android:name=".activities.HomeActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
      android:theme="@style/AppTheme.Licence" />
    <activity
      android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
      android:theme="@style/AppTheme.Licence" />
    <activity
      android:name=".activities.EditorActivity"
      android:exported="true" />
    <activity
      android:name=".activities.ShowXMLActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:exported="true"
      android:windowSoftInputMode="adjustResize"
      android:parentActivityName=".activities.EditorActivity" />
    <activity
      android:name=".activities.CrashActivity"
      android:exported="true" />
    <activity
      android:name=".activities.PreviewLayoutActivity"
      android:exported="true"
      android:parentActivityName=".activities.EditorActivity" />
    <activity
      android:name=".activities.ResourceManagerActivity"
      android:exported="true"
      android:parentActivityName=".activities.EditorActivity" />
    <activity
      android:name=".activities.PreviewDrawableActivity"
      android:exported="true"
      android:parentActivityName=".activities.ResourceManagerActivity" />

  </application>

</manifest>
